*{margin: 0;
padding: 0;}
body{

}

/* header section style */

.header-container{
    background-image: url('image/we-have-a-starring-role-at-milan-fashion-week.jpg');
    height: 100vh;
    padding: 0px 30px;
    background-repeat: no-repeat;
    background-size: 1200px;
    height: 100vh;
    background-color: black;
}

.nav-container{
    padding: 30px 40px;
}

.nav-content{
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}


.logo img{
    width: 150px;
}

.menus ul{
    display: flex;
    justify-content: center;
}

.menus ul li{
    margin-right: 50px;
    list-style: none;
}

.menus ul li a{
    color: white;
    text-decoration: none;
    font-size: 15px;
}

.icon-container a {
    color: white;
    margin-right: 20px;
    text-decoration: none;
}


.header-content{
    text-align: center;
    margin-top: 100px;
}

.header-content h1{
    color: #ffffff;
    font-size: 55px;
    margin-top: 100px;
}


.fashion-week-btn {
    color: rgb(0, 0, 0);
    text-decoration: none;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    padding: 10px 30px;
    color: black;
}

.time-content{
    margin-top: 30px;
    color: #ffffff;
}

.author-container{
    margin-top: 90px;
    color: white;
}

.author-container img{
    border-radius: 50%;
    width: 60px;
}

/* End header section style */

/* start article section */

.artical-maincontainer{

}

.artical-title{
    text-align: center;
    margin: 60px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 15px;
}

.article-container{
    max-width: 900px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 0 auto;
    gap: 25px;
}

.artical-content1{
    background-image: url('image/when-i-open-doors-i-see-this-statement-coat-570x380.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
}

.artical-content2{
    background-image: url('image/royal-ascot-hats-from-then-to-today-570x380.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
}

.artical-content3{
    background-image: url('image/moisturizers-thatll-save-your-skin-570x380.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
}

.artical-content4{
    background-image: url('image/the-best-year-yet-for-faux-fur-coats-570x380.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
}

.artical-all-content {
    color: white;
    padding: 30px;
}

.artical-all-content a{
    margin-bottom: 20px;
    color: #000000;
    text-decoration: none;
    background-color: #ffffff;
    padding: 5px 20px;
    border-radius: 20px;
    font-size: 12px;
}

.article-description{
    margin-top: 150px;
    letter-spacing: 1px;
}

.author-women-container{
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
}

.author-image-women{
    border-radius: 50px;
}